/*﻿*/
#pragma code_page(65001)
#include "resource.h"
#include <windows.h>
#include <commctrl.rh>

LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL
// 画像など言語に関係ないリソース
IDI_MAIN ICON "main.ico"

LANGUAGE LANG_JAPANESE,SUBLANG_DEFAULT
// 日本語リソース
IDM_VIEW MENU
{
	POPUP "表示(&V)"
	{
		MENUITEM "大きいアイコン(&N)",IDC_VIEW_NORMALICON
 		MENUITEM "小さいアイコン(&S)",IDC_VIEW_SMALLICON
		MENUITEM "一覧(&L)",IDC_VIEW_LIST
		MENUITEM "詳細(&R)",IDC_VIEW_REPORT
		MENUITEM "タイル(&R)",IDC_VIEW_TILE
		MENUITEM SEPARATOR
		MENUITEM "非表示のウィンドウ(&I)",IDC_VIEW_TOGGLE_INVISIBLE
		MENUITEM "ツールバーとポップアップ(&T)",IDC_VIEW_TOGGLE_TOOLBARS
		MENUITEM "ウィンドウタイトルが無いウィンドウ(&O)",IDC_VIEW_TOGGLE_NOTITLE
		MENUITEM "アクティブ不可(&A)",IDC_VIEW_TOGGLE_NOACTIVE
	}
	POPUP "設定(&O)"
	{
		MENUITEM "最前面表示(&T)",IDC_OPTION_TOPMOST
		MENUITEM SEPARATOR
		MENUITEM "IMEツールバーの表示(&I)",IDC_OPTION_TOGGLEIMEBAR
		MENUITEM "メニューを左寄せで表示する(&L)",IDC_OPTION_TOGGLELEFTMENU
		POPUP "視覚効果(&V)"
		{
			MENUITEM "マウスカーソルの影の表示(&C)",IDC_OPTION_TOGGLECURSHADOW
			MENUITEM "ホットトラッキング(&H)",IDC_OPTION_TOGGLEHOTTRACK
			MENUITEM "ウィンドウに影を表示(&S)",IDC_OPTION_TOGGLEWINDOWSHADOW
			MENUITEM "入力中はカーソルを非表示(&I)",IDC_OPTION_TOGGLEVANISH
		}
		POPUP "モニタの省電力(&M)"
		{
			MENUITEM "電源制御(&M)",IDC_OPTION_TOGGLEMONITORPOWER
			MENUITEM "電源制御(省電力)(&O)",IDC_OPTION_TOGGLELOWMONITORPOWER
			MENUITEM "オフタイマーの設定(&T)...",IDC_OPTION_POWERSAVE_TIMER
			MENUITEM "省電力を無効化(&D)",IDC_OPTION_PREVENT_POWERSAVE
			MENUITEM "タイマーリセットを無効にする(&I)",IDC_OPTION_DISABLE_RESET
		}
		MENUITEM SEPARATOR
		MENUITEM "自動更新の停止(&P)",IDC_OPTION_PAUSE
	}
	POPUP "ヘルプ(&H)"
	{
		MENUITEM "バージョン情報(&A)...",IDC_HELP_ABOUT
	}
}

IDM_OP MENU
{
	POPUP ""
	{
		MENUITEM "最前面に持ってくる(&A)",IDC_BRINGTOFRONT
		MENUITEM "最背面に持って行く(&S)",IDC_SINKTOBOTTOM
		MENUITEM SEPARATOR
		POPUP "クライアント領域の幅と高さ"
		{
			MENUITEM "2倍(&X)",IDC_EXPANDCLIENT
			MENUITEM "½倍(&H)",IDC_SHRINKCLIENT
		}
		POPUP "クライアント領域のアスペクト比"
		{
			MENUITEM "幅を基準に16:9(&W)",IDC_WIDE_BY_WIDTH
			MENUITEM "高さを基準に16:9(&I)",IDC_WIDE_BY_HEIGHT
			MENUITEM SEPARATOR
			MENUITEM "幅を基準に4:3(&E)",IDC_EDISON_BY_WIDTH
			MENUITEM "高さを基準に4:3(&D)",IDC_EDISON_BY_HEIGHT
		}
		MENUITEM SEPARATOR
		MENUITEM "プロパティ(&P)...",IDC_WINDOWCONFIG
	}
}

IDM_SORT MENU
{
	POPUP ""
	{
		MENUITEM "並べ替え無し",IDC_SORT_NONE
		MENUITEM "昇順",IDC_SORT_ASC
		MENUITEM "降順",IDC_SORT_DSC
	}
}

IDD_ABOUT DIALOGEX 0,0,187,79
	FONT 9,"Segoe UI"
	CAPTION "バージョン情報"
	STYLE DS_SETFONT | DS_SHELLFONT | DS_MODALFRAME | WS_SYSMENU
{
	CONTROL IDI_MAIN,IDC_APPICON,"Static",SS_ICON,7,7,18,21
	CONTROL "閉じる(&C)",IDOK,"Button",WS_TABSTOP,69,58,50,14
	CONTROL "Window Tools 0.13 (Unicode edition)",IDC_VERSTR,"Static",0,32,7,150,8
	CONTROL "© 2017 alice",IDC_COPYRIGHT,"Static",0,32,16,150,8
	CONTROL "OS Version",IDC_OSVER_REAL_LABEL,"Static",0,32,27,40,8
	CONTROL "",IDC_OSVER_REAL,"Edit",ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_TABSTOP,76,25,40,12
	CONTROL "Sim Version",IDC_OSVER_SIM_LABEL,"Static",0,32,40,40,8
	CONTROL "",IDC_OSVER_SIM,"Edit",ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_TABSTOP,76,38,40,12
}


IDD_WINDOW_POS DIALOGEX 0,0,249,175
	FONT 9,"Segoe UI",0,0,1
	CAPTION "ウィンドウの操作"
	STYLE DS_SETFONT | DS_CONTROL
{
	CONTROL "キャプション(&C):",IDC_CAPTION_LABEL,"Static",0,7,7,50,8
	CONTROL "",IDC_CAPTION,"Edit",ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP,7,18,200,14
	CONTROL "X座標(&X):",IDC_XPOS_LABEL,"Static",0,7,38,35,8
	CONTROL "",IDC_XPOS,"Edit",ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER | WS_TABSTOP,42,35,42,14
	CONTROL "",IDC_SPIN_XPOS,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_ALIGNRIGHT,75,35,10,14
	CONTROL "Y座標(&Y):",IDC_YPOS_LABEL,"Static",0,91,38,35,8
	CONTROL "",IDC_YPOS,"Edit",ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER | WS_TABSTOP,126,35,42,14
	CONTROL "",IDC_SPIN_YPOS,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_ALIGNRIGHT,159,35,10,14
	CONTROL "クライアント座標(&P)",IDC_POS_CLIENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,36,70,12
	CONTROL "幅(&W):",IDC_WIDTH_LABEL,"Static",0,7,58,35,8
	CONTROL "",IDC_WIDTH,"Edit",ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER | WS_TABSTOP,42,56,42,14
	CONTROL "",IDC_SPIN_WIDTH,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_ALIGNRIGHT,75,56,10,14
	CONTROL "高さ(&H):",IDC_HEIGHT_LABEL,"Static",0,91,58,35,8
	CONTROL "",IDC_HEIGHT,"Edit",ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER | WS_TABSTOP,126,56,42,14
	CONTROL "",IDC_SPIN_HEIGHT,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_ALIGNRIGHT,159,56,10,14
	CONTROL "クライアントサイズ(&S)",IDC_SIZE_CLIENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,57,70,12
	CONTROL "左上",IDC_UPLEFT,"Button",WS_TABSTOP,7,77,21,21,WS_EX_STATICEDGE
	CONTROL "上",IDC_UP,"Button",WS_TABSTOP,28,77,21,21,WS_EX_STATICEDGE
	CONTROL "右上",IDC_UPRIGHT,"Button",WS_TABSTOP,49,77,21,21,WS_EX_STATICEDGE
	CONTROL "左",IDC_LEFT,"Button",WS_TABSTOP,7,98,21,21,WS_EX_STATICEDGE
	CONTROL "中央",IDC_CENTER,"Button",WS_TABSTOP,28,98,21,21,WS_EX_STATICEDGE
	CONTROL "右",IDC_RIGHT,"Button",WS_TABSTOP,49,98,21,21,WS_EX_STATICEDGE
	CONTROL "左下",IDC_DOWNLEFT,"Button",WS_TABSTOP,7,119,21,21,WS_EX_STATICEDGE
	CONTROL "下",IDC_DOWN,"Button",WS_TABSTOP,28,119,21,21,WS_EX_STATICEDGE
	CONTROL "右下",IDC_DOWNRIGHT,"Button",WS_TABSTOP,49,119,21,21,WS_EX_STATICEDGE
	CONTROL "幅いっぱいに拡大(&F)",IDC_FULLWIDTH,"Button",WS_TABSTOP,84,77,77,14
	CONTROL "高さいっぱいに拡大(&U)",IDC_FULLHEIGHT,"Button",WS_TABSTOP,84,98,77,14
	CONTROL "モニタ(&M):",IDC_DISPLAY_LABEL,"Static",0,7,149,28,8
	CONTROL "",IDC_DISPLAY,"ComboBox",CBS_DISABLENOSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP,42,147,126,21
}

IDD_WINDOW_STYLE DIALOGEX 0,0,249,147
	FONT 9,"Segoe UI",0,0,1
	CAPTION "スタイル"
	STYLE DS_SETFONT | DS_CONTROL
{
	CONTROL "ウィンドウスタイル(&S)",IDC_STYLE_LABEL,"Static",0,7,7,63,8
	CONTROL "",IDC_STYLE,"SysListView32",WS_BORDER | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SORTASCENDING | LVS_NOCOLUMNHEADER,7,21,115,119

	CONTROL "拡張ウィンドウスタイル(&E)",IDC_EXSTYLE_LABEL,"Static",0,127,7,77,8
	CONTROL "",IDC_EXSTYLE,"SysListView32",WS_BORDER | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SORTASCENDING | LVS_NOCOLUMNHEADER,127,21,115,119
}

IDD_POWERSAVE_TIMER DIALOGEX 0,0,160,81
	FONT 9,"Segoe UI",0,0,1
	CAPTION "省電力タイマーの設定"
	STYLE DS_SETFONT | DS_SHELLFONT | DS_MODALFRAME | WS_SYSMENU
{
	CONTROL "モニタの電源が切れるまでのタイマー(&M):",IDC_POWERSAVE_TIMER_LABEL,"Static",0,5,5,118,8
	CONTROL "",IDC_POWERSAVE_TIMER,"Edit",ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER | WS_TABSTOP,5,16,40,12
	CONTROL "",IDC_POWERSAVE_TIMER_UD,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_ALIGNRIGHT,50,16,20,20
	CONTROL "省電力時にモニタの電源が切れるまでのタイマー(&O):",IDC_LOWPOWERSAVE_TIMER_LABEL,"Static",0,5,33,150,8
	CONTROL "",IDC_LOWPOWERSAVE_TIMER,"Edit",ES_AUTOHSCROLL | ES_NUMBER | WS_BORDER | WS_TABSTOP,5,44,40,12
	CONTROL "",IDC_LOWPOWERSAVE_TIMER_UD,"msctls_updown32",UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_ARROWKEYS | UDS_ALIGNRIGHT,50,44,20,20
	CONTROL "OK",IDOK,"Button",WS_TABSTOP,5,61,40,15
	CONTROL "キャンセル",IDCANCEL,"Button",WS_TABSTOP,48,61,40,15
}

#if defined(_DEBUG)
#define DEBUGVERSION " (debug version)"
#else
#define DEBUGVERSION
#endif

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,13,0,0
	PRODUCTVERSION 0,13,0,0
#ifdef UNICODE
	FILEOS VOS_NT_WINDOWS32 // see Winnt.h
#else
	FILEOS VOS_DOS_WINDOWS32
#endif
	FILETYPE VFT_APP // see winver.h
#ifdef DEBUGMODE
	FILEFLAGS VS_FF_DEBUG // see winver.h
#endif
{
	BLOCK "StringFileInfo"
	{
		BLOCK "041104B0"
		{
			VALUE "CompanyName","alice"
			VALUE "FileDescription","ウィンドウ属性の操作ツール"
			VALUE "FileVersion", "0.13" DEBUGVERSION
			VALUE "InternalName","yukikaze"
			VALUE "LegalCopyright", "© 2017 alice"
			VALUE "OriginalFilename","wintools.exe"
			VALUE "ProductName","Window Tools"
			VALUE "ProductVersion","0.13" DEBUGVERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation",1041,1200
	}
}
